{% extends 'base.html' %}
{% block content %}
    <h1>Restaurant Menu</h1>
    {% for meal in meals %}
        <h2>{{ meal.1 }}</h2>
        {% for item in item_list %}
            {% if item.meal_type == meal.0 %}
                {% if item.status == 0 %}
                    <del><h4><a href="{% url 'menu_item' item.pk %}">{{ item.meal }}</a></h4></del>
                {% else %}
                    <h4><a href="{% url 'menu_item' item.pk %}">{{ item.meal }}</a></h4>
                {% endif %}
                <p>{{ item.description }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}